header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: none;
    background-image: url("Imagenes/tabla.webp");
    background-size: contain;
}
main{
    border-top: 1px solid black;
    background-image: url("Imagenes/DistritoMapa.3.0.webp");
    background-repeat: no-repeat;
    background-size:100% ;
}
Section#ConjuntoDeEdificios1{
font-size: 0;
}
h3{
    font-family: "MedievalSharp";
    color:black;
    text-align:center;
    font-size:2rem;
    animation: flotar 3s ease-in-out infinite;
}
article.Edif{
    background-size: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    width: 20%;
    font-size: 1.5rem;
    font-weight:800;
    opacity: 0%;
    margin-bottom: 0;
}
p{
    font-weight:bolder;
}
article#Edificio5{
    background-image: url("Imagenes/Edificio5.webp");
    margin-top: 0px;
    margin-left: 1.65%;
    padding: 4%;
    vertical-align: top;
}
article#Edificio1{
    background-image: url("Imagenes/Edificio1.webp");
    margin-top: 0px;
    margin-left: 6.6%;
    padding: 4.7%;
} 
article#Edificio2{
    background-image: url("Imagenes/Edificio2.webp");
    margin-top: 0;
    margin-left: 6%;
    padding: 3%;
    vertical-align: top;
} 
article#Edificio4{
    background-image: url("Imagenes/Edificio4.webp");
    margin-top: 3.75%;
    padding: 12%;
    margin-left: 1%;
} 
article#Edificio3{
    background-image: url("Imagenes/Edificio3.webp");
    margin-left: 9%;
    margin-top: 4.5%;
    padding:12%;
    vertical-align: top;
}    
article.Edif:hover{
    opacity: 100%;
    filter: brightness(10);
}
ol{
    margin-left: 300px;
    margin-right: 300px;
    background-image: url("Imagenes/grid.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:black;
    text-align:center;
    font-size:3rem;
}
section.indice{
    background-image: url("Imagenes/grid\ para\ parrafo\ 1.webp");
    background-size:100% 100%;
    background-position:bottom;
    background-repeat: no-repeat;
    text-align: center; 
}
h2{
    margin-top: 0.4em;
    font-family: "Kings";
    text-decoration: underline solid rgb(114, 13, 134);
    color:rgb(114, 13, 134);
  -webkit-text-stroke: 0.05px rgb(74, 10, 87);
    text-align:center;
    font-size:2rem;
}
h2#creacion{
    color:red;
    text-decoration: underline red;
    
}
footer{
    text-align: center;
    font-style: "Kings";
    font-size: 2em;
    color: white;
    background-image: url("Imagenes/tabla.webp");
    background-size: 100%;
}
a{
    font-style:"King" ;
    color: red;
    text-decoration: none;
}
