header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: none;
    background-image: url("Imagenes/tabla.jpg");
    background-size: contain;
}
main{
    border-top: 1px solid black;
    background-image: url("Imagenes/DistritoMapa.2.0.png");
    background-repeat: no-repeat;
    background-size:100% ;
}
.invisible{
    display: none;
}
#Edificio5{
    display: inline-block;
    margin-bottom: 4em;
    width: 30%;
    height: 30%;
}
#Edificio5:hover {
    filter: brightness(2) saturate(100%);
    background-color: gray;
    display: inline-block;
    margin-bottom: 4em;
    width: 30%;
    height: 30%;
}
#Edificio1{
    display: inline-block;
    margin-left: 5em;
    width: 30%;
    height: 30%;
}
#Edificio1:hover{
    filter: brightness(2) saturate(100%);
    background-color: gray;
    opacity: 75%;
    display: inline-block;
    margin-left: 5em;
    width: 30%;
    height: 30%;
}
#Edificio2{
    display: inline-block;
    margin-left: 2em;
    margin-bottom: 1em;
    width: 30%;
    height: 30%;
}
#Edificio2:hover{
    filter: brightness(2) saturate(100%);
    background-color: gray;
    display: inline-block;
    margin-left: 2em;
    margin-bottom: 1em;
    width: 30%;
    height: 30%;
}
#Edificio4{
    display: inline-block;
    margin-left: 1em;
    margin-bottom: 3em;
    width: 44%;
    height: 44%;
}
#Edificio4:hover{
    filter: brightness(2) saturate(100%);
    background-color: gray;
    display: inline-block;
    margin-left: 1em;
    margin-bottom: 3em;
    width: 44%;
    height: 44%;
}    
#Edificio3{
    display: inline-block;
    margin-bottom: 3em;
    margin-left: 8.5%;
    width: 44%;
    height: 44%;
}
#Edificio3:hover{
    filter: brightness(2) saturate(100%);
    background-color: gray;
    display: inline-block;
    margin-bottom: 3em;
    margin-left: 8.5%;
    width: 44%;
    height: 44%;
}    
ol{
    margin-left: 300px;
    margin-right: 300px;
    background-image: url("Imagenes/grid.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:black;
    text-align:center;
    font-size:3rem;
}
section.indice{
    background-image: url("Imagenes/grid\ para\ parrafo\ 1.png");
    background-size:100% 100%;
    background-position:bottom;
    background-repeat: no-repeat;
    text-align: center; 
}
h2{
    font-family: "Kings";
    text-decoration: underline solid rgb(85, 68, 45);
    color:rgb(85, 68, 45);
    color: rgb(73, 58, 25);
  -webkit-text-stroke: 0.5px rgb(73, 58, 25);
    text-align:center;
    font-size:2rem;
}
h2#creacion{
    color:red;
    text-decoration: underline red;
    
}
h3{
    font-family: "MedievalSharp";
    color:black;
    text-align:center;
    font-size:1rem;
}