header{
    background-image: url("ImagenesNormas/tabla.webp");
    background-size: 100%;
    background-position: auto;
    padding: 1%;
    color: rgb(216, 130, 18);
    font-size: 3rem;
    text-align: center;
    font-family: "Kings";
}
body{
    background-image: url("ImagenesNormas/Mapa-de-fondo.webp");
    background-size: 100%;
    background-position: auto;
}
section{
    background-image: url("ImagenesNormas/grid.webp");
    background-size: 100%;
    background-position: auto;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "MedievalSharp";
}
p:nth-of-type(1){
    font-weight: bold;
}
p.titulos{
    color:red;
}
p.Ejemplo{
    color:blue;
}
section:nth-of-type(1) article:nth-of-type(1){
    padding: 5%;
}
section.Normas{
    padding: 2%;
    background-image: url("ImagenesNormas/tablaConSombra.webp");
    background-size: 100%;
    font-family: "Kings";
    font-size: 2rem;
    font-weight: 500;
    color: rgb(216, 130, 18);
    text-align: center;
}
section.Normas:hover{
    color: rgb(251, 255, 6)
}
section.Normas:nth-of-type(3){
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
a{
color: inherit;
text-decoration: none;
}
article:nth-of-type(1)>a:nth-last-of-type(1){
    font-size: 60px;
    color: red;
}
