header{
    background-image: url("../ImagenesNormas/tabla.webp");
    background-size: 100%;
    background-position: auto;
    font-size: 3rem;
    text-align: center;
    font-family: "Kings";
    color: rgb(216, 130, 18);
}
body{
    background-image: url("../ImagenesNormas/Mapa-de-fondo.webp");
    background-size: 100%;
    background-position: auto;
    
}
section{
    background-image: url("../ImagenesNormas/grid.webp");
    background-size: 100%;
    background-position: auto;
    padding: 5%;
    font-size: 1.5rem;
    font-family: "MedievalSharp";
}
img{
    background-image: url("../ImagenesNormas/tabla.webp");
    width: 100%;
    position: relative;
    right: 25px;
    padding: 2%;
    margin: 0px;
}
span{
    color: red;
}